@font-face {
    font-family: 'trashhandregular';
    src: url('TrashHand-webfont.eot');
    src: url('TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('TrashHand-webfont.woff') format('woff'),
         url('TrashHand-webfont.ttf') format('truetype'),
         url('TrashHand-webfont.svg#trashhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
@font-face {
    font-family: 'caviar_dreams';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#caviar_dreams') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreams';
    src: url('Caviar_Dreams_Bold-webfont.eot');
    src: url('Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('Caviar_Dreams_Bold-webfont.svg#caviar_dreams') format('svg');
    font-weight: bold;
    font-style: normal;

}


	body {
		font-family; caviar_dreams;
		font-size: 14px;
		margin: 0px;
		margin-bottom: 11px;
		font-size: 16px;
		line-height: 24px;
}

	h1,h2,h3,h4,h5,h5 {
			font-family: trashhandregular;
			font-weight: bold;
			color: #0e1e26;;
	}
	
	
	h1{
		line-height: 81px;
		font-size: 54px;
		color: #e5ae00;
}
	.title{
			font-size: 150px;
}
	.boxed {
			width: 300px;
			padding: 25px;
			border: 25px solid #068bbc;
			background-color: #068bbc;
			
}
	h2{
		line-height: 54px;
		font-size: 36px;
}

	h3{
		line-height: 36px;
		font-size: 24px;
}


	p{
		margin-bottom: 11px;
		font-size: 16px;
		line-height: 24px;
		margin-top: 11px;
		color: #0e1e26;
		font-family: caviar_dreams;
}

	a {
		margin-bottom: 11px;
		font-size: 16px;
		line-height: 24px;
		font-family: caviar_dreams;
}
	
	input{
		background-color: #dcf1f3;
}	

	header{
		background-color: #068bbc;
}

	.page-width{
		max-width: 960px;
		margin: auto; 
		padding: 0 48px;
}

	button{
		background-color: #068bbc;
		font-weight: bold;
		font-family: caviar_dreams;
		color: #e5ae00;
		padding: 5px;
		border-radius: 5px;
		line-height: 1.5em;
		
}

	li, dl, legend, td, th{ 
		font-family: caviar_dreams;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 11px;
}

	ul{
		list-style-position: inside;
		list-style-type: circle;
}

	ol{
		list-style-position: inside;
		list-style-type: upper-roman;
}

.RecentlyPlayed {
	display:inline-block;
	float:left;
}

.Friends {
	display:inline-block;
	float:right;
}

/**
 *
 *       home page
 *
 */
 .login-form {
	width: 275px;
	height: 183px;
	margin: 150px auto auto auto;
	text-align: center;
	
}

.login-form .button-cta {
	width: 200px;
	height: 80px;
	font-size: 38px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	margin: 24px 0 12px;
}

.login-form .login-action {
	text-decoration: none;
	font-weight: bold;
	color: #0e1e26;
}

.login-form .login-action:first-child {
	border-right: 1px solid #068bbc;
	padding-right: 12px;
	margin-right: 12px;
}
	
.home-facts li{
  display: inline;
}

.home-facts {
	width: 400px;
	margin: 600px auto 10px auto;
}

	.submit{
		top: 20px;
		padding-top: 30px;
		background-color: #068BBC;
		text-align: center;
}
	.submitform{
		top: 20px;
		padding-top: 30px;
		background-color: black;
		text-align: center;
}	
	.submitinputquestion{
		top: 50px;
		padding: 8px 8px 8px 8px;
		width: 300px;
		text-align: center;
}	
	.submitbutton{
		margin: 20px;
		text-align: center;
}	
/*
		Below is the header
*/
	.header{
		text-align: center;
		
}

	.headerlinks{
		color: #e5ae00;
		padding-right: 20px;
		padding-left: 20px;
		text-decoration: none;
		font-size: 20px;
		
}
