@font-face {
    font-family: 'trashhandregular';
    src: url('TrashHand-webfont.eot');
    src: url('TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('TrashHand-webfont.woff') format('woff'),
         url('TrashHand-webfont.ttf') format('truetype'),
         url('TrashHand-webfont.svg#trashhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreams';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#caviar_dreams') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreams';
    src: url('Caviar_Dreams_Bold-webfont.eot');
    src: url('Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('Caviar_Dreams_Bold-webfont.svg#caviar_dreams') format('svg');
    font-weight: bold;
    font-style: normal;

}
