<html>
	<head>
		<link rel="stylesheet" href="/static/css/Reset.css" type = "text/css" >
		<link rel="stylesheet" href="/static/css/csstemplate.css" type = "text/css" >
	</head>
	<body>
	{% include static/header.html %}
    
        <div class="header2">
            <header>
                <h1>Categories</h1>
            <header>
            <body bgcolor="#dcf1f3">
        </div>
        <ul>
            {% for category in list_of_categories %}
            <li><a href="/category/{{category.id}}">{{category.name}}</a></li>
            
            {% end for %}
        </ul>
    </body>
</html>