<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="CSS/reset.css" type = "text/css" >
		<link rel="stylesheet" href="CSS/csstemplate.css" type = "text/css" >	
	</head>
	<body>
		{% include static/header.html %}
		<h1>Leaderboards</h1>
		<!-- Top Player, Best Contributer & Daily Highscore to be updated daily -->
		<p>Top Player</p>
		<p>Best Contributer</p>
		<p>Daily Highscore</p>
		<h2>Leaderboard/Top Ten</h2>
		<ol> <!-- values to have profile picture with name and score beside -->
        {% for person in people %}
			<li>{{ person }}</li>
        {% end for %}
		</ol>
	</body>
</html>