<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/static/css/csstemplate.css" type="text/css">
	</head>
	<body>
		{% include static/header.html %}
		<h2>Question {{ question_index+1 }}</h2>
		<p id="question">{{ question.question }}</p>
		<ol id="answers">
			{% for answer in answers %}
			<li><a href="/game/submit/{{ answer.id }}">{{ answer.text }}</a></li>
			{% end for %}
		</ol>
	</body>
</html>
