<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/reset.css" type = "text/css" >
		<link rel="stylesheet" href="static/css/csstemplate.css" type = "text/css" >
	</head>
	{% include static/header.html %}
	<body>
		<h1 class="submit">Submit Your Own Question</h1>
		<form class="submitform" method="post">
			<h2>categories</h2>
				<select name="categories">
                {% for category in list_of_categories %}
                <a href="/category/{{category.id}}"><button class="category-button">{{category.name}}</button></a></br>
					  <option value="{{category.id}}">{{category.name}}</option>
                {% end for %}
				</select>
			<p><input type="text" name="question" placeholder="Enter a Question" class="submitinputquestion"></p>
			<p><input type="text" name="correct_answer" placeholder="Correct Answer" class="submitinputcorrect"></p>
			<p><input type="text" name="wrong_answer_1" placeholder="Incorrect Answer" class="submitinputincorrect"></p>
			<p><input type="text" name="wrong_answer_2" placeholder="Incorrect Answer" class="submitinputincorrect"></p>
			<p><input type="text" name="wrong_answer_3" placeholder="Incorrect Answer" class="submitinputincorrect2"></p>
			
			<button class="submitbutton">Submit</button>
		</form>
		<h2 class="rules">Rules:</h2>
		<ul class="rulesdotpoints" style="list-style-type: none">
			<li>NO trolling (that means no stupid questions or answers).</li>
			<li>NO profanity or vulgar language.</li>
			<li>DO be creative (fun questions = fun games).</li>
			<li>DO put questions in their correct categories.</li>
		</ul>
	</body>
</html>