<html>
	<head>
		<link rel="stylesheet" href="/static/css/Reset.css" type = "text/css" >
		<link rel="stylesheet" href="/static/css/csstemplate.css" type = "text/css" >
	</head>
	<body bgcolor="#DCF1F3">
	{% include templates/header.html %}
        <div class="banner">
            <h1>Category: {{ category_name }}</h1>
        </div>
        <div class="login">
            <ul style="list-style-type: none">
                {% for question in list_of_questions %}
              <li>{{question.question}}</li>
              {% end for %}
            </ul> 
        </div>
    </body>
</html>