<html>
	<head>
		<link rel="stylesheet" href="/static/css/Reset.css" type = "text/css" >
		<link rel="stylesheet" href="/static/css/csstemplate.css" type = "text/css" >
	</head>
	<body>
	{% include templates/header.html %}
    
        <div class="banner">
            <h1>Categories</h1>
        </div>
        <div align="center">
            {% for category in list_of_categories %}
            <a href="/category/{{category.id}}"><button class="category-button">{{category.name}}</button></a></br>
            
            {% end for %}
		</div>
    </body>
</html>