<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/reset.css" type = "text/css" >
		<link rel="stylesheet" href="static/css/csstemplate.css" type = "text/css" >
	</head>
	<body style="background-color: #dcf1f3">
        {% include templates/header.html %}
		<section class = "login-form">
			<div style="background-color: blue; height: page-height; width: 0px; float: center">
				
			</div>
			<h1 class="error_title">
					404 ERROR!
			</h1>
			
			<p> You seem to be experiencing some trouble with the site - how about you go back to to the home page and try again? <br> You can use the links at the top of the page...
			</p>
			
		</section>
	</body>
		
</html>