<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/static/css/csstemplate.css" type="text/css">
	</head>
	<body>
	<body style="background-color: #dcf1f3">
        {% include templates/header.html%}
		<section class="login-form">
			<div>
				<h1 class="title">
					QUIZZI	
				</h1>
			</div>
            
				<a href="pre_game"><button type="button" class="button-cta">Play Now!</button></a>
			<menu>
				<a href="login" class="login-action">Register</a><a href="login" class="login-action">Sign In</a>
			</menu>
		</section>
        <p class="description">
                Welcome to QUIZZI!<br><br>
                Where the fun starts with you. QUIZZI is where you can share your trivia questions with others - click on <a href ="/question">SUBMIT</a>, or simply have fun playing a variety of trivia quizzes - click on <a href="pre_game">PLAY NOW!</a> button above. <br>
                Just click on the <a href ="/login">REGISTER</a> link above - or <a href ="/login">SIGN IN</a> if you simply can't get enough of QUIZZI!
                <br><br>
                Contribute to the Quizzmunity.
            </p>
		<footer class="home-facts">
			<menu style="text-align: center" class="footer-margin-bottom">
				<!-- each fact starts with a number and then what the fact is -->
				<li>Easy to Join</li>
				<li class="home-facts-format">Fun to Play</li>
				<li>1000s of Questions</li>
			</menu>
		</footer>
	</body>
		
</html>
