<html>
	<head>
		<link rel="stylesheet" href="static/css/reset.css" type = "text/css" >
		<link rel="stylesheet" href="static/css/csstemplate.css" type = "text/css" >
	</head>
	<body style="background-color: #dcf1f3">
	{% include templates/header.html%}
    <div class="banner">
        <h1>Leaderboard</h1>
    </div>
    <!-- Top Player, Best Contributer & Daily Highscore to be updated daily -->
    <h2 style="text-align: center">Top Player</h2>
    <p class="leadp">{{score_list[0][0]}}</p>
    <h2 style="text-align: center">Top Ten</h2>
    <ol> <!-- values to have profile picture with name and score beside -->
    {% for score_entry in score_list[:10] %}
        <li class="leadp">{{ score_entry[0] }}, {{ score_entry[1]}}</li>
    {% end for %}
		</ol>
	</body>
</html>