<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/reset.css" type = "text/css" >
		<link rel="stylesheet" href="static/css/csstemplate.css" type = "text/css" >
		<link rel="stylesheet" href="static/css/pregamelobby.css" type = "text/css" >
	</head>
	<body bgcolor="#dcf1f3">
	{% include templates/header.html %}
		<div class="banner">
			<h1>Lobby</h1>
		</div>
	<body bgcolor="#dcf1f3">
	<body>
    <section id="pre_game_sections">
        <section id="instructions">
<p>This is the LOBBY...</p>
<ul>
    <li><strong>Step 1:</strong> Enter a <em>search</em> term to find your favourite topic of trivia. If its a movie, popular game, or general knowledge topic, but be specific </li>
    <li><strong>Step 2:</strong> Or...choose your evil....hahaha <em>"popular topics"</em>.</li>
    <li><strong>Step 3:</strong> and then select one set of questions from the user <em>"recommended"</em> options.</li>
    <li><strong>Step 4:</strong> How clever are you??? Select your <em>"difficulty"</em>.</li>
    <li><strong>Step 5:</strong> Click the <em>"PLAY NOW"</em> button.</li>
</ul>
<p>Enjoy your game!!!</p>
        </section>
        <section id="game_start">
		<div class ="topic2">
			<form>
				<input type="text" placeholder="Search" class="topic">
			</form>
		</div>
		<form method="post" action="/game/create">
		<div class="popular">
			<h2>Topics</h2>
			<select name="category_id">
				{% for category in categories %}
				<option value="{{ category.id }}">{{ category.name }}</option>
				{% end for %}
			</select>
		</div>
		<div class="difficulty">
			<h2>Difficulty</h2>
			<select name="difficulty">
				  <option value="0">Easy</option>
				  <option value="1">Medium</option>
				  <option value="2">Hard</option>
			</select>
		</div>
		<div class="start">
			<input type="submit" class="start2" value="Start Game!">
		</div>
		</form>
        </section>
        </section>
	</body>
</html>