<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/static/css/csstemplate.css" type="text/css">
	</head>

	<!--actual page w/ profile name, statistics, friends etc.-->
	<body class="blue">
		{% include templates/header.html %}
		<div class="banner">
			<h1>{{ user_name }}</h1>
		</div>
		<div class="profileinfo">
			<p>Email: {{email}}</p>
			<ul>
				<h2>Player Progress</h2>
				<div class = "progress">
                {% if len(score) != 0 %}
                    {% for i in score %}
                        <li>{{i[0]}}: {{i[1]}} correct.</li>
                    {% end for %}
                {% end if %}
                {% if len(score) == 0 %}
                    <li>No current progress...</li>
                {% end if %}
				</div>
			</ul>
			<!--<ul>
				<h2>Recent Activity</h2>
				<div class = "recentactivity">
					<li>I played...</li>
					<li>I played...</li>
					<li>I played...</li>
				</div>
			</ul>-->
		</div>
	</body>
</html>