<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/static/css/csstemplate.css" type="text/css">
	</head>

	<!--actual page w/ profile name, statistics, friends etc.-->
	<body class="blue">
		{% include templates/header.html %}
		<div class="banner">
			<h1>{{ user_name }}</h1>
		</div>
		<div class="profileinfo">
			<p>Email: {{email}}</p>
			<ul>
				<h2>Player Progress</h2>
				<ul class = "progress">
					{% for game in games %}
						<li>Scored {{game.score}}</li>
					{% end for %}
				</ul>
			</ul>
			<!--<ul>
				<h2>Recent Activity</h2>
				<div class = "recentactivity">
					<li>I played...</li>
					<li>I played...</li>
					<li>I played...</li>
				</div>
			</ul>-->
		</div>
	</body>
</html>