

	
	body {
		font-family;
		font-size: 14px;
		margin: 0px;
}

	h1,h2,h3,h4,h5,h5 {
			font-weight: bold;
			text-align: center;
	}
	
	
	h1{
		line-height: 94.2px;
		font-size: 60px;
}

	h2{
		line-height: 47.1px;
		font-size: 30px;
}

	h3{
		line-height: 23.55px;
		font-size: 15px;
}

	h4{
		line-height: 12.56px;
		font-size: 8px;
}

	h5{
		line-height: 12.56px;
		font-size: 8px;
}

	h6{
		line-height: 12.56px;
		font-size: 8px;S
}

	p{
		margin-bottom: 11px;
		font-size: 14px;
		line-height: 22px;
		margin-top: 11px;
		text-align: center;
}



	